/**** Chat Popup Layout******/  
   .msg_box{
        position:fixed;
        bottom:-5px;
        width:250px;
        background:white;
        border: 1px solid #DDDDDD;
        border-radius:5px 5px 0px 0px;
   }
   
   .msg_head{ 
        background:forestgreen;
        color:white;
        padding:8px;
        font-weight:bold;
        cursor:pointer;
        border-radius:5px 5px 0px 0px;
   }
   
   
   .msg_body{
        background:white;
        height:200px;
        font-size:12px;
        padding:10px;
        overflow:auto;
        overflow-x: hidden;
   }
   .msg_input{
        width:100%;
        height: 40px;
        border: 1px solid #DDDDDD;
        border-top:1px solid #DDDDDD;
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;   
        box-sizing: border-box;  
   }
   
   
   .close{
        float:right;
        cursor:pointer;
   }
   .minimize{
        float:right;
        cursor:pointer;
        padding-right:5px;
    
   }
   .msg-left{
        position:relative;
        background:#e2e2e2;
        padding:5px;
        min-height:10px;
        margin-bottom:5px;
        margin-right:10px;
        border-radius:5px;
        word-break: break-all;
   }
   .msg-right{
        background:#d4e7fa;
        padding:5px;
        min-height:15px;
        margin-bottom:5px;
        position:relative;
        margin-left:10px;
        border-radius:5px;
        word-break: break-all;
   }
   
   /**** Slider Layout Popup *********/
   
    #chat-sidebar {
        width: 200px;
        position: static;
        height: 300px;
        /*right: 0px;
        top: 0px;*/
        padding-top: 5px;
        padding-bottom: 10px;
        border-radius: 5px;
        background:white;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }
    #sidebar-user-box {
        padding: 4px;
        margin-bottom: 4px;
        font-size: 15px;
        font-family: Calibri;
        font-weight:bold;
        cursor:pointer;
    }
   
    #sidebar-user-box:hover {
        background-color:#999999 ;
    }
    #sidebar-user-box:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
   }
   .user-avatar{
        width:40px;
        height:40px;
        border-radius:50%;
        float:left;
   }
    #slider-username{
        float:left;
        line-height:30px;
        margin-left:5px;
   }

   .chat-avatar{
        width:25px;
        height:25px;
        border-radius:50%;
        float:left;
   }

    .alert {
        position:absolute;
        right: 0px;
        bottom:0px;
        width:400px;
        padding: 20px;
        text-align:center;
        background-color: #f44336;
        color: white;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    .closebtn:hover {
        color: black;
    }